@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Raleway 400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body
{
	margin: 0;
	padding: 0;
}
header{
	color: white;
	background: black;
	padding: 8px 0px 6px 40px;
	height: 45px;

}
header h1{
	display: inline;
		font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}
	nav ul{
	display: inline;
	padding: 0px;
	float: left;
 		}
 	nav ul li{
 		display: inline-block;
 		list-style-type: none;
 		color: white;
 		float: left;
 		margin-left: 12px;

 	}
 	nav ul li a{
 		color: white;
 		text-decoration: none;
 	}
 	#nav{
font-family: 'Montserrat', sans-serif;
 	}	
 	.homered{
		background-color: red;
       padding: 30px 10px 16px 10px;
		}
	.divid {
		background-color: red;
		height: 5px;
	}
	.homeblack:hover{
		background-color: blue;
		padding: 30px 10px 16px 10px;
	}
		.flvig{
		background-image: url(images/lion.jpg);
		width:100;
		height:1000px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	#fdlv{
		 ;
	}
	.h21{
		font-family: 'Raleway', sans-serif;
		padding: 9% 5% 0% 55%;
		margin: 0;
		color: white;
		font-size: 25px;
		color: red;
	}
	.h12{
		font-family: 'Raleway',sans-serif;
		margin: 0.5% 0% 0% 55%;
		font-size: 55px;
		color: yellow;
		text-decoration: none;
		background-color: rgba(0,0,0,0.5);
		display: inline-block;
	}
	.but1{
		position: absolute;
		margin: 2% 0% 0% 63%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	border-radius: 30px;
	background-size: 400%;

	}
	.but1:hover{
	animation: animate 8s linear infinite;

	}
	@keyframes animate
	{
		0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}
	}
	.but1:before{
	content: '';
	position: absolute;
	top: -5px;
	left: -5px
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
  }
  .b1:hover:before{
  	filter :blur(20px);
  	opacity: 1;
  }
  .tb1{
  	height: 180px;
  	width: 300px;
  	border-collapse: collapse;
  	border: 1px solid blue;
  	margin-left: 50%;
  	font-size: cover;


  }